.blanche{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(/src/images/ceomain.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 100%;
    text-align: center;
    color: rgb(238, 173, 10);
    z-index: -1;

}

.blanche span{
  position: relative;
  top: 10rem;
  right: 2rem;
    font-size: 22vw;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(79, 79, 233, 0.9);
    
}
.blanche p{
   opacity: 0.2;
  
}

section  h2{
    color: grey;
    font-weight: 700;
    
    
}
section p{
    color: grey;
}
section h1{
    color: white;
    position: absolute;
    top: 50%;
    font-size: 5rem;
    font-weight: 800;
    line-height: 0.8;
    margin-left: 4rem;
    margin-top: 1.3rem;
    z-index: -1;
    color: rgb(169, 169, 247);
    text-shadow: 2px 2px 5px  rgb(79, 79, 233);
}
.hair{
 position: absolute;
 right: -3rem;
 transform: rotate(90deg);
 color: rgb(169, 169, 247);
 text-shadow: 2px 2px 5px  rgb(79, 79, 233);
}

.blanche span:not(:first-child){
    margin-left: -0.23em;
}
.what{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow: hidden;
}

.one{
    background-color: rgb(43, 13, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    transition: all 1.3s ease;
    margin: 1rem;
}
.one img{
    width: 20rem;
    border-radius: 2rem;
    padding: 1em;
}

.one:hover{
    border: 2px solid blue;
    background-color: transparent;
}
.one h3{
    text-transform: capitalize;
    color: orange;
    font-size: 1.2rem;
    text-align: start;
}

.one h4{
    color: rgb(139, 141, 143);
    text-transform: capitalize;

}

footer{
    background-color: rgb(2, 2, 22);
    color: white;
    text-transform: capitalize;

}
footer h3{
    color: white;
    font-size: 3rem;
    text-align: center;

}

article{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1));
}

ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    background-color: black;
    text-align: end;
}
.accent1{
    margin: 2rem ;
    font-size: 1.5rem;
}

.accent{
    margin: 2rem;
    font-size: 1.2rem;
}

.link{
    display: flex;
    flex-direction: row;
    margin-top: 20rem;
    transition: all 2s ease-in-out;
    overflow: hidden;
}
.link li:hover{
    background-color: transparent;
    border: 2px solid goldenrod;
    color: goldenrod;
    font-weight: 500;
    transform: translateY(-30%);
}

.link li{
   border-radius: 0.7rem;
    background-color: grey;
    text-align: center;
    color: rgb(79, 79, 233);
    font-weight: 800;
    transition: all 1s ease-in-out;
}

.link img{
    border-radius: 100%;
}

.link:hover{
    background-color:rgb(79, 79, 233e) ;
}

.links a:hover{
    color: green;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 5;
    z-index: 100;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    border: 2px solid rgba(0,0,0,0.3);
}
input{
    border: 2px solid rgb(124, 197, 240);
    width: 70%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 1s ease-in;
    outline: none;
   
}
input:hover{
    color: goldenrod;
    transform: translateX(2%);
    background-color: grey;
    
}

label{
    margin: 5px;
   position: relative;
   right: 8rem;
   color: rgb(148, 144, 144);
}

.notice{
    color: red;
    margin: 1rem;
    text-transform: capitalize;
}
.notice__login{
    color: rgb(201, 200, 199);
    margin: 1rem;
    text-transform: capitalize;
    margin: 2rem 5rem;
}

.btn__login{
    border: 2px solid blue;
    border-radius: 1rem;
    padding: 0.4rem;
    width: 6rem;
    color: white;
    background-color: blue;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 1s ease-in;
}
.btn__login:hover{
    background-color: transparent;
    border-color: goldenrod;
    color: gold;
}
.form{
    z-index: 10;
}
.z-index{
    z-index: 0;
}

.forget{
    z-index: 10;
    
    padding: 0.4rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: grey;
    text-transform: capitalize;
}

.under{
    text-decoration: underline;
    color: blueviolet;
}

::placeholder{
    text-transform: capitalize;
    
}

.product{
    color: rgb(156, 150, 150);
    margin-top: 10rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.terms{
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
}

.btn2{
    color: white;
    font-size: 1.2rem;
    border-bottom: 1px solid blue;
    margin: 0.4rem;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
    padding: 2rem;
    background-color: rgb(231, 226, 226);
    
}

.about img{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
}
.us{
    font-size: 2rem;
    font-weight: 100;
}

.about h3{
    font-weight: 600;
    font-size: 1.2rem;
}
.about h3::before{
    content: "";
    border: 2px solid black;
margin-right: 0.3rem;
}

.our-mission{
    text-align: center;
}
.our-mission h3{
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.our-mission p{
    text-align: start;
    margin: 1rem 2rem;
}

.blanche__promise{
    text-align: center;
}
.blanche__promise h2{
    font-size: 2rem;
    font-weight: 100;
}

.blanche__promise h6{
    font-weight: 800;
    padding: 0.3rem;
}
.our-story h4{
    text-align: center;
    margin: 0.6rem;
    font-size: 1.1rem;
}
.our-story h3{
    text-align: center;
    font-size: 1.3rem;
}

.our-story p{
   padding: 1rem;
    line-height: 1.9;
    font-weight: 500;
    font-size: 1.1rem;
  
}
.our-story{
    background-color: whitesmoke;
}

.human-hair{
    text-align: center;
   
}
.human-hair h3{
    font-size: 1.7rem;
    padding: 0.7rem;
}
.human-hair p{
    padding: 0.1rem 0.7rem;
    font-size: 1.2rem;
}

.refer img{
 width: 7rem;
 height: 7rem;
 border-radius: 100%;
}

.refer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referals{
    padding: 3rem;
}
.refer p{
    margin: 1rem 3rem;
}
.refer h3{
    margin-bottom: 2rem;
    margin-top: -1rem;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    font-size: 1.3rem;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7));
   padding: 3rem;
}
.facebook p{
    font-size: 1.2rem;
    color: rgb(214, 211, 211);
    font-weight: 600;
   
}
.at{
    color: rgb(146, 118, 47);
    font-weight: 600;
    margin: 0 2rem;
    text-transform: capitalize;
}

.contact div{
    border: 2px solid rgb(125, 167, 184);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 1s ease-in-out;
}
.insta{
    color: purple;
    font-size: 2.5rem;
}
.faceboo{
    color: blue;
    font-size: 2.5rem;
}
.whatsapp{
    color: green;
    font-size: 2.5rem;
}
.facebook:hover{
    background-color: rgb(125, 167, 184);
}

@media only screen and (min-width:768px){
    .what{
        grid-template-columns: repeat(2,1fr);
    }
    .hair{
        position: absolute;
        right: -1.4rem;
        margin-top: 1.6rem;
    }
    ul{
        flex-direction: row;
        gap: 4rem;
    }
    input{
        width:60% ;
    }
    .our-mission img{
        width: 20rem;
    }
    .our-mission{
        display: flex;
    }
    .promise img{
        width: 20rem;
    }
    .promise{
        display: flex;
        flex-direction: row-reverse;
    }
    .our-story{
        margin-top: 3rem;
    }
    .human{
        display: flex;
    }
    .human img{
        width: 20rem;
    }
    .referals{
        display: flex;
        gap: 3rem;
    }
    .refer p{
        margin: 0.4rem;
    }
    .refer h3{
        margin-top: 10px;
        font-weight: 600;
    }
}

@media only screen and (min-width:1024px){
    .what{
        grid-template-columns: repeat(3, 1fr);
    }
    .hair{
        position: absolute;
        right: 0.7rem;
        margin-top: 2.6rem;
       
        
    }
    input{
        width:50% ;
    }
    .our-mission{
        margin: 1rem 5rem;
    }
    .promise{
        margin: 1rem 5rem;
    }
    .our-story{
        padding: 1rem 5rem;
    }
    .human{
        margin: 1rem 5rem;
    }
    .referals{
        margin: 1rem 5rem;
    }
}

@media only screen and (min-width:1200px){
    .what{
        grid-template-columns: repeat(4, 1fr);
    }
    .hair{
        position: absolute;
        right: 3.4rem;
        margin-top: 6.6rem;
    }
    input{
        width:40% ;
    }

    .our-mission{
        margin: 1rem 5rem;
    }
    .promise{
        margin: 1rem 8rem;
    }
    .our-story{
        padding: 1rem 8rem;
    }
    .human{
        margin: 1rem 8rem;
    }
    .referals{
        margin: 1rem 8rem;
    }
}

